openapi: "3.0.0"
info:
  description: "Microservice oriented to authenticate users. It is based on JWT tokens."
  version: "1.0.0"
  title: "Auth"
  contact:
    email: "pando855@gmail.com"
  license:
    name: "GPL-3.0"
    url: "https://www.gnu.org/licenses/gpl-3.0.en.html"
servers:
  - url: "/v1"
tags:
- name: auth
  description: "Get a JWT token."
- name: password
  description: "Change password"
- name: user
  description: "Operations about user"
- name: ping
  description: "Test service"
paths:
  /auth:
    post:
      tags:
      - auth
      summary: "Get a JWT token for user"
      description: ""
      operationId: "auth.handlers.auth_handler"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  token:
                    type: "string"
        422:
          description: "Invalid credentials"
  /user:
    post:
      security:
      - oauth2: [admin]
      tags:
        - user
      summary: Create user
      description: ""
      operationId: "auth.handlers.create_user_handler"
      requestBody:
        description: Created user object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/UserAlreadyExists'
  '/user/{username}':
    get:
      security:
      - oauth2: [admin]
      tags:
        - user
      summary: Get user by user name
      description: ''
      operationId: "auth.handlers.get_user_handler"
      parameters:
        - name: username
          in: path
          description: 'The name that needs to be fetched.'
          required: true
          schema:
            type: string
            example: admin
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid username supplied
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ObjectNotFound'
    put:
      security:
      - oauth2: [admin]
      tags:
        - user
      summary: Updated user
      description: ''
      operationId: "auth.handlers.update_user_handler"
      parameters:
        - name: username
          in: path
          description: name that need to be updated
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Updated user object
        required: true
      responses:
        '204':
          description: "successful operation"
        '400':
          description: Invalid user supplied
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ObjectNotFound'
    delete:
      security:
      - oauth2: [admin]
      tags:
        - user
      summary: Delete user
      description: ''
      operationId: "auth.handlers.delete_user_handler"
      parameters:
        - name: username
          in: path
          description: The name that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '204':
          description: "successful operation"
        '400':
          description: Invalid username supplied
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ObjectNotFound'

#  /password:
#    post:
#      security:
#      - oauth2:
#         - user
#         - admin
#      tags:
#      - "password"
#      summary: "Update password"
#      description: ""
#      operationId: "auth.handlers.update_password_handler"
#      parameters:
#      - in: "body"
#        name: "body"
#        description: "Created user object"
#        required: true
#        schema:
#          $ref: "#/components/schemas/User"
#      responses:
#        '204':
#          description: "successful operation"
#        '401':
#          $ref: '#/components/responses/UnauthorizedError'
#        '404':
#          $ref: '#/components/responses/ObjectNotFound'
  /ping:
    get:
      tags:
      - ping
      summary: "Test service"
      description: ""
      operationId: "auth.handlers.ping_handler"
      responses:
        '200':
          description: successful operation
components:
  schemas:
    User:
      type: "object"
      properties:
        username:
          type: "string"
          example: admin
        password:
          type: "string"
          example: admin
        scope:
          type: "string"
          example: admin
      required:
        - username
        - password
  securitySchemes:
    oauth2:
      type: oauth2
      x-tokenInfoFunc: aiolambda.security.decode_token
      x-scopeValidateFunc: aiolambda.security.validate_scope
      flows:
        implicit:
          scopes:
            admin: Admin role
            user: Application user
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    UserAlreadyExists:
      description: User already exists
    ObjectNotFound:
      description: User not found
    Forbidden:
      description: "403: Forbidden"
